<!DOCTYPE html>
<html>
<head>
  <title>Display Property</title>
  <style>
    .block-box {
      display: block;
      width: 200px;
      background: lightcoral;
      margin-bottom: 10px;
    }

    .inline-text {
      display: inline;
      background: lightgreen;
    }

    .inline-block-box {
      display: inline-block;
      width: 120px;
      height: 50px;
      background: lightblue;
      margin: 5px;
    }
  </style>
</head>
<body>
  <div class="block-box">This is a block element.</div>

  <span class="inline-text">Inline 1</span>
  <span class="inline-text">Inline 2</span>

  <div class="inline-block-box">Box 1</div>
  <div class="inline-block-box">Box 2</div>
</body>
</html>